<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24940053205-do1t48nuab342pk92nnhvo5456o1q1dd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24940053205-do1t48nuab342pk92nnhvo5456o1q1dd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>24940053205-belkp10upbs1s1ufkeon4lkqbifku5if.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDivEM5FWzRc59tKPI3RDWBsQZDgMp4DS4</string>
	<key>GCM_SENDER_ID</key>
	<string>24940053205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.mindwhiz.ironbox</string>
	<key>PROJECT_ID</key>
	<string>ironbox-68cf1</string>
	<key>STORAGE_BUCKET</key>
	<string>ironbox-68cf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24940053205:ios:01f66990f51fca9c31985c</string>
</dict>
</plist>